<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <!--<![endif]-->
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Лонгборд, лонгборд спб, скейтборд, пенни борд, скейт, выбор лонгборда</title>
    <meta name="description"
          content="Лонгборд (англ. longboard) — разновидность роликовых досок, характеризующаяся большей скоростью,
          повышенной устойчивостью, улучшенными ходовыми качествами.">
    <meta name="keywords"
          content="лонгборд, лонгборд купить, лонгборд спб, лонгборд купить спб, скейтборд лонгборд, лонгборд фото, лонгборд penny, лонгборд arbor, деки для лонгборда, подвески для лонгборда, лонгборд для начинающих, лонгборд отзывы, скейт лонгборд, колеса для лонгборда, лонгборд круизер, купить лонгборд недорого, лонгборд 22, лонгборд вес, лонгборды sunset, магазин лонгбордов, недорогие лонгборд, отличие лонгборда, хороший лонгборд, чем отличается лонгборд, лонгборд и скейтборд в чем разница, какой лонгборд, лонгборд 27, лонгборд 36, лонгборд видео, лонгборд петербург, лонгборд серфинг, авито лонгборд, где купить лонгборд, комплект лонгборд, лонгборд цена, лонгборд coolstep, лонгборд penny 22, лонгборд tempish, подвеска для лонгборда купить, чем отличается лонгборд от скейтборда, шкурка лонгборд, landyachtz лонгборд, выбор лонгборда, лонгборд санкт петербург, лонгборд never summer, лонгборды penny original, трюки на лонгборде, чехол для лонгборда">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Лонгборды в Санкт-Петербурге"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://longbrd.ru/"/>
    <meta property="og:image" content="http://longbrd.ru/images/slider/1.jpg"/>
    <meta property="og:description"
          content="Лонгборд (англ. longboard) — разновидность роликовых досок, характеризующаяся большей скоростью,
          повышенной устойчивостью, улучшенными ходовыми качествами."/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:site_name" content="Лонгборды в Санкт-Петербурге"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Include Bootstrap Css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Include Bootstrap Min Css -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <!-- Include Fontawesome Min Css -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Include Magnific PopUp Css -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- Include Style Css -->
    <link rel="stylesheet" href="assets/css/style.min.css">
    <!-- Include Responsive Css -->
    <link rel="stylesheet" href="assets/css/responsive.min.css">
    <!-- Include Modernizer Js -->
    <script src="assets/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    <script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "LocalBusiness",
      "name": "Лонгборды в Санкт-Петербурге",
      "url": "http://longbrd.ru/",
      "telephone": "+7-921-788-4124",
      "priceRange": "7000-10000руб.",
      "sameAs": [
        "http://longbrd.com/"
      ],
      "image": "http://longbrd.ru/images/slider/1.jpg",
      "description": "Лонгборд (англ. longboard) — разновидность роликовых досок, характеризующаяся большей скоростью, повышенной устойчивостью, улучшенными ходовыми качествами",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Санкт-Петербург",
        "addressRegion": "Санкт-Петербург",
        "postalCode": "197349",
        "addressCountry": "Россия"
      },
      "openingHours": "Mo, Tu, We, Th, Fr, Sa, Su 11:00-20:00",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+7-921-788-4124",
        "contactType": "customer service"
      }
    }

    </script>
</head>
<body>

<!-- Header Section -->

{{ masthead }}

<!-- Header Section -->


<!-- Page Head -->

<section id="page-head" class="page-head text-center">
    <div class="head-overlay">
        <div class="section-padding">
            <div class="container">
                <h1 class="page-title">Интересные видео из мира <span>Лонгбордов</span></h1><!-- /.page-title -->
                <p class="page-description">Мы не только смотрим, мы зовем за собой</p>
                <!-- /.page-description -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </div><!-- /.head-overlay -->
</section><!-- /#page-head -->

<!-- Page Head -->


<!-- Main Content Section -->

<section id="main-content" class="main-content">
    <div class="container">
        <div class="row">
            <script>
                (function() {
                    var cx = '003779106695224558276:epnsozdxrxy';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:search></gcse:search>
        </div>
        <div class="row">
            <div class="col-md-9" data-next="{{ next }}">
                <nav class="text-center">
                    <ul class="pagination">
                        <li{% if not currentPage %} class="active"{% endif %}><a href="/blog.html">1</a></li>
                        {% for i in range(1, pages) %}
                        {% if i %}
                        <li{% if i == currentPage - 1 %} class="active"{% endif %}><a href="/blog-{% if i %}{{ i + 1 }}{% endif %}.html">{% if i %}{{ i + 1 }}{% endif %}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </nav>

                {{ posts }}

                <nav class="text-center">
                    <ul class="pagination" id="waypoint">
                        <li{% if not currentPage %} class="active"{% endif %}><a href="/blog.html">1</a></li>
                        {% for i in range(1, pages) %}
                        {% if i %}
                        <li{% if i == currentPage - 1 %} class="active"{% endif %}><a href="/blog-{% if i %}{{ i + 1 }}{% endif %}.html">{% if i %}{{ i + 1 }}{% endif %}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <div class="col-md-3">
                <aside id="sidebar" class="sidebar">
                    <div class="widget widget_social_follow">
                        <h4 class="widget-title">Давай к нам</h4><!-- /.widget-title -->
                        <div class="widget-details">
                            <ul class="social-list">
                                <li><a href="//www.instagram.com/longtoolong/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!-- /.widget-details -->
                    </div><!-- /.widget -->

                    <div class="widget widget_instagram_photos">
                        <h4 class="widget-title">Instagram</h4><!-- /.widget-title -->
                        <div class="widget-details">
                            <ul class="stream-list">
                                {% for item in recent %}
                                <li><a href="{{ item.url }}" target="_blank"><img src="{{ item.src }}" alt=""></a></li>
                                {% endfor %}
                            </ul>
                        </div><!-- /.widget-details -->
                    </div><!-- /.widget -->
                </aside>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /#main-content -->

<!-- Main Content Section -->


<!-- Footer Section -->

{{ colophon }}

<!-- Footer Section -->

<div id="scroll-to-top" class="scroll-to-top">
    <span>
      <i class="fa fa-chevron-up"></i>    
    </span>
</div><!-- /#scroll-to-top -->

{{ scripts }}

</body>
</html>
